<nav id="sidebar" class="bg-dark text-white p-3">
    <div class="sidebar-header mb-4">
      <!-- Logo on the left -->
      <a class="navbar-brand" href="/">
        <img src="/dif_logo.webp" alt="NGO Logo" height="110" class="d-inline-block align-top">
      </a>

    </div>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link text-white" href="/admin/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/admin/heroSlideAdmin"> Hero Slider</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/admin/socialIconsAdmin"> Social Icons</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/admin/contact-cards"> Team </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/admin/mission-vision">About Us</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link text-white" href="/admin/contact-cards">  School Scholars </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/admin/contact-cards">  Membership page </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/admin/contact-cards">  Event Timeline </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/admin/contact-cards">  DIF ThinkTank </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/admin/contact-cards">  Projects </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/admin/contact-cards">  Internship </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/admin/contact-cards">  Contact Us </a>
      </li>
      <!-- Add more items here -->
    </ul>
  </nav>
  